section[data-testid='stSidebar'] {
    background-color: #B9C2FF;
    height: 100%;
    width: 100px;
    flex-shrink: unset !important;
}

.container {
    display: flex;
    justify-content: space-between;
}

.component {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}
.component:hover {
    background-color: #0069D9;
}

.main_title{
    font-size: 2vw;
    font-weight: bold;
    color: #0069D9;
}
.sub_title{
    font-size: 1.5vw;
    font-weight: bold;
    color: #0069D9;
}
